@font-face {
  font-family: ModernEra-Black;
  src: url("../fonts/ModernEra/ModernEra-Black-eot.eot");
  src: url("../fonts/ModernEra/ModernEra-Black-eot.eot?#iefix") format("embedded-opentype"), url("../fonts/ModernEra/ModernEra-Black-woff2.woff2") format("woff2"), url("../fonts/ModernEra/ModernEra-Black-woff.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: ModernEra-Light;
  src: url("../fonts/ModernEra/ModernEra-Light-eot.eot");
  src: url("../fonts/ModernEra/ModernEra-Light-eot.eot?#iefix") format("embedded-opentype"), url("../fonts/ModernEra/ModernEra-Light-woff2.woff2") format("woff2"), url("../fonts/ModernEra/ModernEra-Light-woff.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: ModernEra-Regular;
  src: url("../fonts/ModernEra/ModernEra-Regular-eot.eot");
  src: url("../fonts/ModernEra/ModernEra-Regular-eot.eot?#iefix") format("embedded-opentype"), url("../fonts/ModernEra/ModernEra-Regular-woff2.woff2") format("woff2"), url("../fonts/ModernEra/ModernEra-Regular-woff.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: ModernEra-Medium;
  src: url("../fonts/ModernEra/ModernEra-Medium-eot.eot");
  src: url("../fonts/ModernEra/ModernEra-Medium-eot.eot?#iefix") format("embedded-opentype"), url("../fonts/ModernEra/ModernEra-Medium-woff2.woff2") format("woff2"), url("../fonts/ModernEra/ModernEra-Medium-woff.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: ModernEra-Bold;
  src: url("../fonts/ModernEra/ModernEra-Bold-eot.eot");
  src: url("../fonts/ModernEra/ModernEra-Bold-eot.eot?#iefix") format("embedded-opentype"), url("../fonts/ModernEra/ModernEra-Bold-woff2.woff2") format("woff2"), url("../fonts/ModernEra/ModernEra-Bold-woff.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: ModernEra-ExtraBold;
  src: url("../fonts/ModernEra/ModernEra-ExtraBold-eot.eot");
  src: url("../fonts/ModernEra/ModernEra-ExtraBold-eot.eot?#iefix") format("embedded-opentype"), url("../fonts/ModernEra/ModernEra-ExtraBold-woff2.woff2") format("woff2"), url("../fonts/ModernEra/ModernEra-ExtraBold-woff.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
