footer {

  background-color: $hztl-base;
  padding: 10px 0 0;
  color: $hztl-lite;

  a {
    font-family: "ModernEra-Black";
    color: $hztl-lite !important;
  }
  a:hover {
    text-decoration: none !important;
    color: $hztl-lite !important;
  }
  .footer-logo {
    display: inline-block;
    margin: 15px 0;
  }
  .site-links {
    a {
      display: inline-block;
      padding: 15px 0 2px;
    }
  }
  .social-links {
    a {
      padding: 0 18px 0 0;
    }
  }
  .footer-cta-banner {
    background-color: $hztl-teal;
    color: $hztl-dark;
    font-size: 20px;
    padding: 10px 20px;

    p {
      margin: 0;
    }
    a {
      color: $hztl-dark !important;
      text-decoration: underline;
    }
    a:hover {
      text-decoration: underline !important;
    }
    > span {
      display: block;
    }
  }
}

@media (min-width: 768px) {
  footer {
    .footer-cta-banner {
      text-align: center;
      > span {
        display: inline;
      }
    }
  }
}
