body.body-nav-open {
  height: 100vh;
  overflow: hidden;
}

header {

  transition: transform .5s;

  .site-nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: $hztl-lite;
  }

  .logo-main {
    display:block;
    position: relative;
    top: -4px;
    svg {
      height: auto;
      max-width: 79px;
      vertical-align: middle;
      g {
        > polygon,
        > path {
          fill: $hztl-dark;
        }
      }
    }
  }

  nav {
    height:0;
    overflow: hidden;
    ul {
      margin: 80px 10px 80px;
      li {
        padding: 0 40px;
        font-family: "ModernEra-Black";
        font-size: 7vh;
        line-height: 1.3;
        text-align: right;
        a {
          color: $hztl-dark !important;
          transition: $hztl-anim;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            background-color: $hztl-dark;
            right: 0;
            top: 3vh;
            transition: $hztl-anim;
            width: 0;
            height: 1vh;
          }
          &:hover {
            text-decoration: none !important;
            color: $hztl-lite !important;
            padding-right: 6vh;
            &::after {
              background-color: $hztl-lite;
              width: 4.5vh;
            }
          }
        }
        // the small nav elements
        &:nth-child(n+5) {
          font-size: 4vh;
          a {

            &::after {
              top: 1.5vh;
              height: 1vh;
            }
            &:hover {
              padding-right: 6vh;
              &::after {
                width: 4.5vh;
              }
            }
          }
        }
      }
    }
  }

}

.hztl-header.slideUp {
  transform: translate(0,-100%);
}

header.site-nav-open {

  overflow: hidden;
  nav {
    height: calc(100vh - 100px);
    overflow: scroll;
  }
}

@media (min-width: 768px) {

  header {

    .site-nav {
      height: 96px;
      padding: 0 50px;
    }

    .logo-main {
      position: relative;
      top: -5px;
      svg {
        max-width: 120px;
      }
    }

    nav {
      ul {
        margin: 60px 32px 20px;
        li {
          padding: 0 40px;
          font-size: 9vh;
          a {

            &::after {
              top: 3.75vh;
              width: 0;
              height: 2vh;
            }
            &:hover {
              padding-right: 11vh;
              &::after {
                width: 9vh;
              }
            }
          }
          // the small nav elements
          &:nth-child(n+5) {
            font-size: 5vh;
            a {

              &::after {
                top: 2vh;
                height: 1vh;
              }
              &:hover {
                padding-right: 6vh;
                &::after {
                  width: 4.5vh;
                }
              }
            }
          }
        }
      }
    }

  }

  header.site-nav-open {

    nav {
      height: calc(100vh - 96px);
    }
  }

}

header {
  .navbar-toggle {
    height: 26px;
    width: 35px;
    background: transparent;
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
    margin-right:22px;

    &:focus {
      outline:none;
    }

    .icon-bar {
      height: 5px;
      width: 35px;
      margin-left: 3px;
      margin-bottom: 5px;
      display: block;
      transition: all .2s;
      background: red;
    }

    &.collapsed {
      .icon-bar {
          background: $hztl-dark;
      }
      &:hover {
        .top-bar, .bottom-bar {
          border-right: 10px solid $hztl-dark;
          border-left: 10px solid $hztl-dark;
          box-sizing: border-box;
          border-radius: 1px;
          background: transparent;
        }
      }
    }
  }
  &.site-nav-open {
    background-color: $hztl-teal;
    .site-nav {
      background-color: $hztl-teal;
    }
    .logo-main {
      svg {
        g {
          > polygon,
          > path {
            fill: $hztl-dark !important;
          }
        }
      }
    }
    .icon-bar {
      height: 6px;
      width: 40px;
      background-color: $hztl-dark !important;
    }
    .top-bar {
      transform: rotate(45deg);
      transform-origin: 7% 10%;
    }
    .middle-bar {
      opacity: 0;
    }
    .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }
  }
}

.theme-dark {
  .site-nav {
    background-color: $hztl-dark;
  }
  .logo-main {
    svg {
      g {
        > polygon,
        > path {
          fill: $hztl-lite;
        }
      }
    }
  }
  header {
    .navbar-toggle {
      &.collapsed:hover {
        .top-bar, .bottom-bar {
          border-color: $hztl-lite;
        }
      }
      .icon-bar {
        background: $hztl-lite;
      }
    }
  }
}
