$hztl-base: #393738;
$hztl-dark: #2f2d2e;
$hztl-lite: #fff;
$hztl-teal: #7fc3ba;

$hztl-anim: all .2s 0s ease-in-out;

$body-bg: $hztl-lite;
$body-color: $hztl-dark;
$link-color: $hztl-dark;
$link-hover-color: $hztl-dark;

@import "bootstrap";
@import "fonts";
@import "fa";
@import "header";
@import "footer";

html {
  font-family: sans-serif; // 2
  line-height: 1.15; // 3
  -webkit-text-size-adjust: 100%; // 4
  -ms-text-size-adjust: 100%; // 4
  -ms-overflow-style: scrollbar; // 5
  -webkit-tap-highlight-color: rgba($black, 0); // 6
}

html {
  background-color: $hztl-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "ModernEra-Regular";
  font-size: 18px;
  line-height: 28px;
  padding-top: 100px;
}

.container {

}

.container-narrow {
  margin: 0 auto;
  padding: 0 40px;
}

@media (min-width: 768px) {
  body {
    padding-top: 96px;
  }
  .container, .container-narrow {
    max-width: 720px;
  }
  .container-narrow {
    padding: 0 20px;
  }
}

@media (min-width: 992px) {
  .container-narrow {
    max-width: 960px;
  }
  .container-narrow {
    padding: 0 10px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1460px;
  }
}

strong {
  font-family: "ModernEra-Black";
}

.scoped body.theme-dark,
.theme-dark {
  background-color: $hztl-dark;
  color: $hztl-lite;

  a {
    color: $hztl-lite;
  }

}
