<footer>
  <div id="footer" class="container-narrow">
    <div class="row">
      <div class="col-12 col-md-9">
        <a class="footer-logo" title="Horizontal Logo" href="https://horizontaldigital.com"><img src="https://horizontaldigital.com/-/media/project/horizontal/dotcom/digital/h-bug.png?h=38&amp;w=59&amp;hash=0208E4CA48F29F773F5D3628D5D3592C" alt="Horizontal Logo" width="59" height="38"></a>
      </div>
      <div class="col-12 col-md-3">
        <ul class="site-links list-unstyled">
          <li><a href="https://www.horizontaldigital.com/careers">Careers</a></li>
          <li><a href="https://horizontaldigital.com/contact-us">Contact</a></li>
          <li><a href="https://horizontaldigital.com/privacy-policy">Privacy Policy</a></li>
          <li><a href="https://horizontaldigital.blog/disclaimer">Disclaimer</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3 order-md-last">
        <ul class="social-links list-inline">
          <li class="list-inline-item"><a href="https://www.linkedin.com/company/30574460/" class="fab fa-linkedin-in"><span class="sr-only">LinkedIn</span></a></li>
          <li class="list-inline-item"><a href="https://www.instagram.com/hztldigital/" class="fab fa-instagram"><span class="sr-only">Instagram</span></a></li>
          <li class="list-inline-item"><a href="https://vimeo.com/horizontalinc" class="fab fa-vimeo-v"><span class="sr-only">Vimeo</span></a></li>
      </div>
      <div class="col-12 col-md-9 order-md-first">
        <p><small>&copy; Horizontal Digital 2020</small></p>
      </div>
    </div>
  </div>
  <div class="footer-cta-banner">
    <span>Need a staffing solution? </span><span><strong>Visit our sister company </strong></span><span><a href="https://www.horizontaltalent.com/"><strong>Horizontal Talent</strong></a></span>
  </div>
</footer>
