<header class="hztl-header fixed-top">

  <div class="site-nav navbar">

    <a href="https://horizontaldigital.com" class="logo-main">
      <!--?xml version="1.0" encoding="UTF-8"?-->
      <svg width="120px" height="61px" viewBox="0 0 120 61" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Logo</title>
        <g id="Logo" stroke="none" fill="none">

          <polygon id="horizontal-h" fill="#2F2D2E" points="1 3 8.24023169 3 8.24023169 13.7971552 18.7561682 13.7971552 18.7561682 3.01803065 26 3.01803065 26 30.9995993 18.7841691 30.9995993 18.7841691 19.5721727 8.25743224 19.5721727 8.25743224 31 1 31"></polygon>

          <path id="horizontal-o" fill="#2F2D2E" d="M41.3648456,25.4614 C43.9863221,25.4436252 45.7275302,23.7109828 45.7199043,21.1291881 C45.7118255,18.5502212 43.8880671,16.7715258 41.268604,16.7880887 C38.7212215,16.8038437 36.9602819,18.6314199 36.9734958,21.2447245 C36.9860537,23.7509762 38.7864564,25.4791748 41.3648456,25.4614 M41.3499463,10.791506 C44.2621611,10.9021947 46.9581342,11.5925854 49.2759866,13.4225854 C51.6361208,15.2865192 52.7865906,17.7786318 52.8896779,20.7595523 C52.9810872,23.4104265 52.2393423,25.7930623 50.4240403,27.7729364 C48.8201477,29.5217377 46.7990738,30.5486384 44.5065906,31.0342146 C41.1828322,31.7391483 37.9524966,31.4636384 34.931557,29.8267377 C31.8445772,28.1542874 30.108604,25.5401748 29.8367919,22.0054066 C29.6124966,19.0899298 30.3711544,16.4834927 32.4079329,14.3339497 C34.0005503,12.6530159 35.9946443,11.6693404 38.2367919,11.2108305 C39.2604161,11.0015722 40.3114228,10.9272411 41.3499463,10.791506"></path>

          <path id="horizontal-r" fill="#2F2D2E" d="M62.76,30.7392735 L56.0089933,30.7392735 L56.0089933,11.5355848 L62.7491275,11.5355848 L62.7491275,14.5831609 C62.7769128,14.6057834 62.8051007,14.628406 62.8332886,14.6510285 C64.5334228,11.7311079 67.2096644,11.0479887 70.3187919,11.2867371 L70.3187919,17.7377901 C70.2487248,17.7171874 70.1891275,17.7066841 70.1359732,17.6828497 C68.6911409,17.0324523 67.1967785,16.9973066 65.7,17.4162272 C64.0630872,17.8739291 63.2818792,19.1157437 62.9826846,20.696896 C62.8457718,21.4196046 62.7773154,22.1649358 62.7692617,22.9013795 C62.7438926,25.3494589 62.76,27.7983464 62.76,30.2468298 L62.76,30.7392735 Z"></path>

          <polygon id="horizontal-i" fill="#2F2D2E" points="73.5857718 30.7254172 80.3114094 30.7254172 80.3114094 11.5237483 73.5857718 11.5237483"></polygon>
          <path id="horizontal-ii" fill="#2F2D2E" d="M76.9581745,0.28024518 C79.0505235,0.293244371 80.7699866,2.03719801 80.7603627,4.13705232 C80.7510604,6.23165497 78.9893154,7.97641656 76.9130738,7.94733046 C74.8094497,7.91743642 73.1197852,6.18560199 73.1338792,4.07282053 C73.1471678,1.99599272 74.8903893,0.267390066 76.9581745,0.28024518"></path>

          <polygon id="horizontal-dash" fill="#2F2D2E" points="85.2225503 21.5556225 119.638389 21.5556225 119.638389 15.8975695 85.2225503 15.8975695"></polygon>

          <path id="horizontal-z" fill="#2F2D2E" d="M8.9984698,46.7049126 L1.20732886,46.7049126 L1.20732886,41.0573629 L20.3183356,41.0573629 C17.3320268,45.5774225 14.3694765,50.0627404 11.3594094,54.6191576 L19.3977987,54.6191576 L19.3977987,60.2691311 L8.05369128e-05,60.2691311 C3.00491275,55.7397801 5.97712752,51.258906 8.9984698,46.7049126"></path>

          <path id="horizontal-o2" fill="#2F2D2E" d="M32.9646846,54.9978065 C35.5797181,55.0010338 37.3507248,53.2651596 37.355971,50.6934642 C37.3611946,48.1605503 35.5358255,46.3329742 32.9920671,46.3236503 C30.4217315,46.3147954 28.5883087,48.1290404 28.5862942,50.6841728 C28.5846846,53.2530404 30.3520671,54.9941662 32.9646846,54.9978065 M44.5088456,51.643206 C44.4492483,54.737643 42.6673691,57.7844113 39.0299195,59.5332126 C34.8089799,61.5615636 30.5030738,61.5033914 26.3771678,59.2500272 C22.9515302,57.3796298 21.3709933,54.3316497 21.4317987,50.4244179 C21.4712617,47.8959477 22.3011946,45.6789411 24.0564966,43.8473252 C25.6024027,42.2342589 27.5179732,41.2606828 29.6775705,40.785206 C32.8885772,40.0790603 36.0238792,40.295994 39.0045503,41.7680735 C42.5727383,43.529802 44.5088456,46.7001861 44.5088456,51.643206"></path>

          <path id="horizontal-n" fill="#2F2D2E" d="M61.0148054,60.2948238 L61.0148054,59.7534993 C61.0148054,56.3011417 61.0244698,52.8483801 61.0047383,49.3960225 C61.0015168,48.8635854 60.9133289,48.3174132 60.7715839,47.802751 C60.4796376,46.7439364 59.7854094,46.0874795 58.6772215,45.9060954 C57.998698,45.7945987 57.3278255,45.8152013 56.6742685,46.0236517 C55.5576242,46.3795523 54.9145369,47.1988106 54.6467517,48.2988305 C54.4965503,48.9140821 54.4131946,49.5612477 54.4087651,50.1942742 C54.3858121,53.3957642 54.3982953,56.5972543 54.3982953,59.7987444 L54.3982953,60.2750291 C54.2488993,60.2827046 54.1272886,60.2940159 54.0060805,60.2940159 C52.0035302,60.2952278 50.0009799,60.2891682 47.9988322,60.3008834 C47.6988322,60.3029033 47.5905101,60.2346318 47.5909116,59.9094331 C47.6001745,53.7447974 47.5977584,47.5801616 47.5985638,41.4159298 C47.5985638,41.3052411 47.6090336,41.1949563 47.6162819,41.0632609 L54.3874228,41.0632609 L54.3874228,43.472155 C54.4127919,43.4802344 54.4381611,43.4879099 54.4635302,43.4955854 C54.5891678,43.333996 54.7168188,43.1740225 54.8400403,43.0104132 C56.0541342,41.3933073 57.6966846,40.5784927 59.6851409,40.4423536 C60.9519866,40.3559033 62.2123893,40.4120556 63.4329262,40.8148172 C65.6432617,41.5452013 66.9294362,43.1320093 67.4484966,45.3445722 C67.6723893,46.3003735 67.7972215,47.3014199 67.8072886,48.2834795 C67.847557,52.1373868 67.8185638,55.992102 67.8322657,59.8464132 C67.8334631,60.2112013 67.7319866,60.3061351 67.3727919,60.3033681 C65.3956107,60.2859364 63.4180268,60.2948238 61.4408456,60.2948238 L61.0148054,60.2948238 Z"></path>

          <path id="horizontal-t" fill="#2F2D2E" d="M80.3987114,60.2770894 C80.2207248,60.2851689 80.1095839,60.2940563 79.9988456,60.2940563 C77.9962953,60.2952682 75.9941477,60.2863808 73.9915973,60.3025965 C73.6529396,60.3053675 73.5768322,60.2031623 73.5776376,59.8775596 C73.5881074,55.6588642 73.5844832,51.4405728 73.5844832,47.2222815 L73.5844832,46.6866126 L70.1109262,46.6866126 L70.1109262,41.0515861 L73.5844832,41.0515861 L73.5844832,40.5862086 C73.5844832,38.9416325 73.5921342,37.2966523 73.5780403,35.6520762 C73.5752215,35.3402086 73.662604,35.2481026 73.9762953,35.2500902 C75.9913289,35.2634536 78.0063624,35.2565861 80.021396,35.257798 C80.1305235,35.257798 80.2400537,35.2715331 80.3741477,35.2800166 L80.3741477,41.0204801 L84.1956242,41.0204801 L84.1956242,46.6595464 L80.3987114,46.6595464 L80.3987114,60.2770894 Z"></path>

          <path id="horizontal-a" fill="#2F2D2E" d="M97.0334094,54.997802 C99.5908591,55.0147689 101.411396,53.305153 101.430322,50.8679808 C101.451664,48.1690338 99.7120671,46.3394377 97.1095168,46.3236828 C94.5258926,46.3079278 92.7130067,48.0837954 92.6844161,50.6595305 C92.6558255,53.2239543 94.4159597,54.9804311 97.0334094,54.997802 L97.0334094,54.997802 Z M107.993275,60.2789477 L101.220926,60.2789477 L101.220926,58.153643 C101.130322,58.2202987 101.085624,58.2380735 101.062671,58.2716033 C99.9609262,59.8531596 98.3715302,60.5997026 96.5316644,60.8348152 C91.0040134,61.540557 86.5789128,57.5901 85.8041477,52.3865172 C85.3213289,49.1426099 86.0409262,46.1923914 88.1610604,43.6610934 C90.9363624,40.3460868 95.9006577,39.412504 99.4950201,41.5091265 C100.093007,41.8581596 100.617705,42.3320205 101.183074,42.7529609 L101.183074,41.0687954 L107.993275,41.0687954 L107.993275,60.2789477 Z"></path>

          <polygon id="horizontal-l" fill="#2F2D2E" points="112.569664 60.298702 119.334765 60.298702 119.334765 29.1632517 112.569664 29.1632517"></polygon>

        </g>
      </svg>
    </a>

    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar top-bar"></span>
      <span class="icon-bar middle-bar"></span>
      <span class="icon-bar bottom-bar"></span>
    </button>

  </div>

  <nav>
    <ul class="list-unstyled">
      <li><a href="https://www.horizontaldigital.com/work">Work</a></li>
      <li><a href="https://www.horizontaldigital.com/services">Services</a></li>
      <li><a href="https://www.horizontaldigital.com/platforms">Platforms</a></li>
      <li><a href="https://www.horizontaldigital.com/insights">Insights</a></li>
      <li><a href="https://www.horizontaldigital.com/about-us">About us</a></li>
      <li><a href="https://www.horizontaldigital.com/careers">Careers</a></li>
      <li><a href="https://www.horizontaldigital.com/contact-us">Contact</a></li>
    </ul>
  </nav>

</header>
